@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;1,100&display=swap');
:root{
    --texto_color: #f2f2f2;
    --background: #2f2f2f;
    --color_primario: #33ccff;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}
body{
    background-color: var(--background);
}
header{
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.nav{
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 10;
}
.nav .nav__icon {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 55px;
    height: 44px;
    display: block;
    position: relative;
    top: 2vw;
    left: 3vw;
    cursor: pointer;  
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav .nav__icon .topBar {
    width: 55px;
    height: 2px;
    display: block;
    background: var(--color_primario);
    position: absolute;
    top: 10px;
    transform: rotate(0);   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav .nav__icon .middleBar {
    width: 55px;
    height: 2px;
    display: block;
    background: var(--color_primario);
    position: absolute;
    top: 20px;   
    transform: rotate(0);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav .nav__icon .bottomBar {
    width: 35px;
    height: 2px;
    display: block;
    background: var(--color_primario);
    position: absolute;
    top: 30px;   
    transform: rotate(0);   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
/*=============================
        RESPONSIVE START
===============================*/
.nav_open .nav__icon .topBar,
.nav_open .nav__icon .middleBar,
.nav_open .nav__icon .bottomBar {
    background: var(--color_primario);
}
.nav_open ul li a{
    color: var(--texto_color);
}
/*=============================
        RESPONSIVE END
===============================*/
.nav ul{
    margin-top: 1vw;
    padding-right: 3vw;
    list-style: none;
    display: flex;
    justify-self: right;
    align-items: center;
}
.nav ul li{
    margin: 5px;
    display: flex;
    border-bottom: 1px solid transparent;
}

.nav ul li a{
    padding: 10px 25px;
    color: var(--texto_color);
    text-decoration: none;
}
/* HERO CONTENT */
.hero{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: flex-start;
    padding: 5vw;
    min-height: 80vh;
    background: url('../img/teotihuancan.png') center / cover, linear-gradient(#000, #33ccff25);
    background-blend-mode: screen;
}
.hero h1{
    font-size: 5vw;
    color: var(--texto_color);
    z-index: 2;
}
.hero h1:hover{
    background: -webkit-linear-gradient(var(--color_primario), #f2f2f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    margin-top: 25px;
    color: var(--texto_color);
    font-size: 1.3vw;
    font-weight: 300;
    letter-spacing: 1px;
    max-width: 55%;
    z-index: 2;
}
/*=========================================
                PROJECTS
===========================================*/
#projects,
#about,
#services,
footer{
    padding: 5vw 2vh;
}
#projects h2,
#about h2,
#services h2,
footer h2{
    color: var(--texto_color);
    text-align: center;
    margin-bottom: 3vw;
    font-weight: 200;
    font-size: 3vw;
    color: var(--color_primario);
}
#projects h2 span,
#about h2 span,
#services h2 span,
footer h2 span{
    font-weight: 700;
    color:var(--texto_color);
}
#projects .projects_items{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 400px));
    justify-content: center;
    grid-row-gap: 0;
    grid-column-gap: 20px;
}
.projects_items .project_item{
    text-align: center;
    color: var(--texto_color);
}
.project_item figure{
    position: relative;
    transition: .5s;
    text-align: center;
}

.project_item:hover figure::after{
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    width: 90%;
    margin: 0 20px;
    height: 20%;
    transform: scale(1.05);
    transition: .5s;
    background-color: rgba(0,0,0,0.5);
}
.project_item figure h3::before{
    content: '';
    position: absolute;
    width: 90%;
    height: 20%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
.project_item figure h3{
    transition: 1s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.project_item figure p{
    transition: 1s;
    display: none;
}
.project_item figure:hover h3{
    display: none;
    transition: 1s;
}
.project_item figure:hover p{
    transition: 1s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.project_item figure img{
    max-width: 100%;
    transition: .5s;
}
.project_item:hover figure img{
    transform: scale(1.1);
    transition: .5s;
}
.project_item:hover h4{
    font-weight: 800;
    transition: .5s;
}
.project_item:hover p{
    font-weight: 400;
    transition: .5s;
}
.project_item h4{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: var(--color_primario);
    transition: .5s;
}
.project_item h4 a{
    text-decoration: none;
    color: var(--color_primario);
}
.project_item p{
    margin-top: 5px;
    font-weight: 200;
    transition: .5s;
}
/*=========================================
                PROJECTS
===========================================*/
#about .about_items{
    text-align: center;
}
.about_items h3{
    color: var(--texto_color);
    font-weight: 200;
    font-size: 2vw;
    margin-bottom: 25px;
}
.about_items .education_items{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 450px));
    justify-content: center;
    grid-gap: 25px;
}
.education_items .education_item{
    padding: 30px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 20px;
    transition: .5s;
}
.education_items .education_item:hover{
    box-shadow: 0px 15px 10px -10px rgba(255,255,255,.25);
    background-color: rgba(0,0,0,0.65);
    transition: .5s;
}
.bgf:nth-child(1){
    background: url('../img/ucci.png') center / cover, #00000075;
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.bgf:nth-child(2){
    background: url('../img/uth.png') center / cover, #00000075;
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.bgf:nth-child(3){
    
    background: url('../img/udemy.png') center / cover, #00000075;
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.bgf:nth-child(4){
    background: url('../img/edteam.png') center / cover, #00000075;
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.bgf:nth-child(5){
    background: url('../img/ucan.png') center / cover, #00000075;
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.bgf:nth-child(6){
    background: url('../img/platzi.png') center / cover, #00000075;
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.bgf:nth-child(7){
    background: url('../img/cisco.png') center / cover, #00000075;
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position: center;
}


.bge:nth-child(1){
    border: 1px solid red;
}
.education_item p{
    color: var(--texto_color);
    font-size: 1vw;
    font-weight: 800;
}
.education_item h4{
    margin-top: 10px;
    color: var(--color_primario);
    font-size: 1.5vw;
    font-weight: 100;
}
.education_item h5{
    margin-top: 10px;
    color: #969696;
    font-size: 1.2vw;
    font-weight: 300;
}
.education_item h6{
    margin-top: 20px;
    color: #767676;
    font-size: 1.5vw;
    font-weight: 100;
}

#about .description{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 600px));
    justify-content: center;
    grid-row-gap: 20px;
}
.description figure{
    text-align: center;
}
.description figure img{
    max-height: 24vw;
}
.description .aditional{
    padding: 2.5vw 1vw 2.5vh 0;
}
.aditional h1{
    font-size: 2vw;
    color: var(--texto_color);
    font-weight: 200;
}
.aditional h1 span{
    color: var(--color_primario);
    font-weight: 600;
}
.aditional h5{
    margin: 10px 0;
    color: var(--texto_color);
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1.1vw;
}
.aditional p{
    margin-bottom: 20px;
    color: var(--texto_color);
    font-weight: 100;
    font-size: 1vw;
}
.aditional a{
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    color: var(--texto_color);
    font-weight: 800;
    cursor: pointer;
    outline: none;
}
.aditional a:hover{
    box-shadow: 1px 1px 5px 1px rgba(255,255,255,0.25);
}
.aditional a:nth-child(4){
    border: 2px solid var(--color_primario);
    color: var(--color_primario);
    background-color: var(--texto_color);
    margin-right: 20px;
}
.aditional a:nth-child(5){
    background-color: var(--color_primario);
    border: 2px solid var(--color_primario);
}
#services .services_items{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 400px));
    justify-content: center;
    grid-gap: 20px;
}
.services_items .service_item{
    padding: 30px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 20px;
    color: var(--texto_color);
    text-align: center;
}
.service_item figure{
    width: 50%;
    margin: 0 auto;
    padding: 1vw;
    height: 7.5vw;
    width: 7.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.service_item figure::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--color_primario);
    transition: .5s;    
}
.service_item figure:hover::after{
    border: 2px solid var(--color_primario);
    transform: rotate(45deg);
    transition: .5s;
}
.service_item figure svg{
    fill: var(--texto_color);
    padding: 0;
    margin: 0;
    height: 100%;
    transition: 1s;
}
.service_item figure:hover svg{
    fill: var(--color_primario);
    transition: 1s;
}
.service_item h4{
    margin: 20px 0 13px 0;
    font-weight: 600;
    font-size: 1.6vw;
    color: var(--color_primario);
}
.service_item p{
    font-weight: 100;
    font-size: 1.1vw;
    text-align: left;
    letter-spacing: 1px;
}

footer .contact_items{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 500px));
    justify-content: center;
    grid-gap: 20px;
}
.contact_items .form p{
    margin: 20px 0;
    font-size: 1.5vw;
    font-weight: 200;
    color: var(--texto_color);
}
form{
    padding: 0 10px;
    text-align: center;
}
form input,
form textarea{
    margin: 7px 0;
    border: none;
    width: 98%;
    font-size: 1.2vw;
    background-color: rgba(0,0,0,0.25);
    outline: none;
    color: var(--texto_color);
    border-bottom: 1px solid transparent;
    border-radius: 3px;
    padding: 10px;
}
form input:focus,
form input:valid,
form input:active,
form textarea:focus,
form textarea:valid,
form textarea:active{
    border-bottom: 1px solid var(--color_primario);
    color: var(--color_primario);
}
form button{
    padding: 10px 40px;
    font-size: 1.25vw;
    font-weight: 600;
    border: none;
    color: var(--texto_color);
    background-color: var(--color_primario);
    border: 2px solid var(--color_primario);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: .5s;
}
form div{
    text-align: center;
    margin: 10px auto 20px auto;
}
form button:hover{
    box-shadow: 1px 1px 5px 1px rgba(255,255,255,0.25);
    transition: .5s;
}

.contact_items .info{
    padding: 5vw 5vw 1vw 1vw;
}
.info .info_item{
    padding: 1.5vw 0;
}
.info .info_item h6{
    font-size: 1vw;
    font-weight: 600;
    color: var(--color_primario);
}
.info .info_item  p{
    margin-top: 5px;
    font-size: 1vw;
    font-weight: 200;
    color: var(--texto_color);
    letter-spacing: 1px;
}
.social{
    position: fixed;
    right: 0;
    bottom: 35%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px 0 0 20px;
    z-index: 3;
}
.social .link{
    height: 2vw;
    width: 2vw;
    margin: 10px;
    padding: 2px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background: var(--texto_color);
    transition: .5s;
}
.social .link:hover,
.social .link:hover a svg{
    fill: var(--texto_color);
    background: var(--color_primario);
    transition: .5s;
}
.social .link a{
    padding: 2px;
    height: 2vw;
}
.social .link a svg{
    height: 1.5vw;
    padding: 2px;
    fill: var(--color_primario);
}
.active{
    border-bottom: 1px solid var(--color_primario);
    color: var(--color_primario);
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
}

/*=========================================================
                    RESPONSIVE INICIO
===========================================================*/
.nav_open{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 275px;
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.75);
    transition: .5s ease-in-out;
    z-index: 3;
}
.nav_open .nav__icon{
    visibility: visible;
    opacity: 1;
    position: fixed;
    width: 55px;
    height: 44px;
    display: block;
    position: relative;
    top: 30px;
    left: 215px;
    cursor: pointer;  
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.nav_open .nav__icon .topBar {
    width: 55px;
    height: 2px;
    display: block;
    position: absolute;
    top: 10px;
    transform: rotate(45deg);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav_open .nav__icon .middleBar {
    opacity: 0;
    visibility: hidden;
    width: 55px;
    height: 2px;
    display: block;
    position: absolute;
    top: 20px;   
    transform: rotate(0);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav_open .nav__icon .bottomBar {
    width: 55px;
    height: 2px;
    display: block;
    position: absolute;
    top: 10px;
    transform: rotate(-45deg);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav_open ul{
    list-style: none;
}
.nav_open ul li{
    margin: 30px;
    width: 150px;
    margin: 30px auto;
    padding: 10px 25px;
    border: none;
}
.nav_open ul li a{    
    text-decoration: none;
}
@media screen and (min-width: 1366px){
    .about_items .education_items{
        grid-template-columns: repeat(3, minmax(300px, 500px));
    }
}
@media screen and (max-width : 999px) {
    *{
        transition: .25s;
    }
    .nav{
        background-color: transparent;
    }
    .nav .nav__icon{
        visibility: visible;
        opacity: 1;
    }
    .nav ul{
        opacity: 0;
        visibility: hidden;
    }
    footer .social{
        right: 0;
        bottom: 0;
        border-radius: 20px 0 0 0;
    }
    .social .link a svg{
        height: 15px;
    }
    .social .link{
        height: 20px;
        width: 20px;
    }
    .hero{
        min-height: 60vh;
    }
    #projects .projects_items{
        grid-template-columns: repeat(3, minmax(200px, 400px));
        grid-gap: 10px;
    }
    #services .services_items{
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 400px));
        grid-gap: 10px;
    }
    footer .contact_items{
        grid-template-columns: 1.3fr 0.7fr;
        grid-gap: 20px;
    }
}
@media screen and (max-width : 850px){
    *{
        transition: .5s;
    }
    .hero p{
        font-size: 1.6vw;
        letter-spacing: 0.9px;
        max-width: 60%;
    }
    .aditional h1{
        font-size: 2.25vw;
    }
    .aditional h5{
        letter-spacing: 0.5px;
        font-size: 1.6vw;
    }
    .aditional p{
        font-size: 1.4vw;
    }
    .about_items h3{
        font-size: 3vw;
    }
    .education_item p{
        font-size: 1.5vw;
    }
    .education_item h4,
    .education_item h6{
        font-size: 2vw;
    }
    .education_item h5{
        font-size: 1.75vw;
    }
    .project_item h4{
        font-size: 2.25vw;
    }
    .project_item p{
        font-size: 1.75vw;
    }
    .service_item h4{
        font-size: 2vw;
    }
    .service_item p{
        font-size: 1.5vw;
        letter-spacing: 0.5px;
    }
    .contact_items .form p{
        font-size: 2vw;
    }
    form input,
    form textarea{
        font-size: 1.5vw;
    }
    form button{
        font-size: 1.75vw;
    }
    .contact_items .info{
        padding: 7.5vw 5vw 1vw 1vw;
    }
    .info .info_item{
        padding: 2vw 0;
    }
    .info .info_item h6{
        font-size: 1.5vw;
    }
    .info .info_item  p{
        font-size: 1.5vw;
        letter-spacing: 0.5px;
    }
}
@media screen and (max-width : 675px){
    *{
        transition: .25s;
    }
    #projects h2,
    #about h2,
    #services h2,
    footer h2{
        font-size: 4vw;
    }
    #about .description{
        max-width: 90%;
        grid-template-columns: repeat(1, minmax(300px, 600px));
        margin: 0 auto;
        grid-gap: 0;
    }
    .hero{
        min-height: 50vh;
    }
    .hero p{
        font-size: 2vw;
        letter-spacing: 0.5px;
    }
    .aditional h1{
        font-size: 3vw;
    }
    .aditional h5{
        letter-spacing: 0.5px;
        font-size: 2.25vw;
    }
    .aditional p{
        font-size: 2vw;
    }
    .aditional a{
        text-decoration: none;
        padding: 10px 20px;
        font-weight: 600;
    }
    .about_items .education_items{
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 400px));
        justify-content: center;
        grid-gap: 25px;
    }
    .about_items h3{
        font-size: 3vw;
    }
    .education_item p{
        font-size: 2vw;
    }
    .education_item h4,
    .education_item h6{
        font-size: 3vw;
    }
    .education_item h5{
        font-size: 2.25vw;
    }
    #projects .projects_items{
        grid-template-columns: repeat(1, minmax(200px, 400px));
        grid-gap: 10px;
    }
    .project_item h4{
        font-size: 3.5vw;
    }
    .project_item p{
        font-size: 2.5vw;
    }
    #services .services_items{
        grid-template-columns: repeat(1, minmax(200px, 400px));
        grid-gap: 10px;
    }
    .service_item figure{
        padding: 2.5vw;
        height: 15vw;
        width: 15vw;
    }
    .service_item h4{
        font-size: 3vw;
    }
    .service_item p{
        font-size: 2vw;
    }
    footer .contact_items{
        grid-template-columns: repeat(1, minmax(200px, 400px));
        grid-gap: 10px;
    }
    .contact_items .form p{
        font-size: 3vw;
    }
    form input,
    form textarea{
        font-size: 2.5vw;
    }
    form button{
        font-size: 2.5vw;
    }
    .contact_items .info{
        padding: 0;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .info .info_item{
        padding: 2vw 0;
    }
    .info .info_item h6{
        font-size: 2.5vw;
    }
    .info .info_item  p{
        font-size: 2.5vw;
    }
    
}
@media screen and (max-width : 400px){
    *{
        transition: .25s;
    }
    #projects h2,
    #about h2,
    #services h2,
    footer h2{
        font-size: 7vw;
    }
    .hero h1{
        font-size: 8vw;
    }
    .hero{
        min-height: 100vh;
    }
    .hero p{
        font-size: 4vw;
        max-width: 90%;
    }
    .aditional h1{
        font-size: 5vw;
    }
    .aditional h5,
    .aditional p{
        font-size: 3.5vw;
    }
    .aditional a{
        text-decoration: none;
        padding: 7px 15px;
        font-weight: 600;
    }
    .about_item h3{
        font-size: 5vw;
    }
    .education_item p{
        font-size: 4vw;
    }
    .education_item h4,
    .education_item h6{
        font-size: 5vw;
    }
    .education_item h5{
        font-size: 4vw;
    }
    #projects .projects_items{
        grid-template-columns: repeat(1, minmax(150px, 300px));
    }
    .project_item h4{
        font-size: 5vw;
    }
    .project_item p{
        font-size: 4vw;
    }
    #services .services_items{
        grid-template-columns: repeat(1, minmax(200px, 300px));
    }
    .service_item figure img{
        width: 25vw;
        height: 25vw;
    }
    .service_item h4{
        font-size: 5vw;
    }
    .service_item p{
        font-size: 4vw;
    }
    footer .contact_items{
        grid-template-columns: repeat(1, minmax(200px, 300px));
        grid-gap: 10px;
    }
    .contact_items .form{
        text-align: center;
    }
    .contact_items .form p{
        font-size: 5vw;
    }
    form input,
    form textarea{
        font-size: 4vw;
    }
    form button{
        font-size: 4vw;
    }
    .contact_items .info{
        padding: 0;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .info .info_item h6,
    .info .info_item  p{
        font-size: 4vw;
    }
}