.nav_open{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 275px;
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.75);
    transition: .5s ease-in-out;
    z-index: 3;
}
.nav_open .nav__icon{
    visibility: visible;
    opacity: 1;
    position: fixed;
    width: 55px;
    height: 44px;
    display: block;
    position: relative;
    top: 30px;
    left: 215px;
    cursor: pointer;  
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.nav_open .nav__icon .topBar {
    width: 55px;
    height: 2px;
    display: block;
    position: absolute;
    top: 10px;
    transform: rotate(45deg);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav_open .nav__icon .middleBar {
    opacity: 0;
    visibility: hidden;
    width: 55px;
    height: 2px;
    display: block;
    position: absolute;
    top: 20px;   
    transform: rotate(0);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav_open .nav__icon .bottomBar {
    width: 55px;
    height: 2px;
    display: block;
    position: absolute;
    top: 10px;
    transform: rotate(-45deg);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav_open ul{
    list-style: none;
}
.nav_open ul li{
    margin: 30px;
    width: 150px;
    margin: 30px auto;
    padding: 10px 25px;
    border: none;
}
.nav_open ul li a{    
    text-decoration: none;
}
@media screen and (min-width: 1366px){
    .about_items .education_items{
        grid-template-columns: repeat(3, minmax(300px, 500px));
    }
}
@media screen and (max-width : 999px) {
    *{
        transition: .25s;
    }
    .nav{
        background-color: transparent;
    }
    .nav .nav__icon{
        visibility: visible;
        opacity: 1;
    }
    .nav ul{
        opacity: 0;
        visibility: hidden;
    }
    footer .social{
        right: 0;
        bottom: 0;
        border-radius: 20px 0 0 0;
    }
    .social .link a svg{
        height: 15px;
    }
    .social .link{
        height: 20px;
        width: 20px;
    }
    .hero{
        min-height: 60vh;
    }
    #projects .projects_items{
        grid-template-columns: repeat(3, minmax(200px, 400px));
        grid-gap: 10px;
    }
    #services .services_items{
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 400px));
        grid-gap: 10px;
    }
    footer .contact_items{
        grid-template-columns: 1.3fr 0.7fr;
        grid-gap: 20px;
    }
}
@media screen and (max-width : 850px){
    *{
        transition: .5s;
    }
    .hero p{
        font-size: 1.6vw;
        letter-spacing: 0.9px;
        max-width: 60%;
    }
    .aditional h1{
        font-size: 2.25vw;
    }
    .aditional h5{
        letter-spacing: 0.5px;
        font-size: 1.6vw;
    }
    .aditional p{
        font-size: 1.4vw;
    }
    .about_items h3{
        font-size: 3vw;
    }
    .education_item p{
        font-size: 1.5vw;
    }
    .education_item h4,
    .education_item h6{
        font-size: 2vw;
    }
    .education_item h5{
        font-size: 1.75vw;
    }
    .project_item h4{
        font-size: 2.25vw;
    }
    .project_item p{
        font-size: 1.75vw;
    }
    .service_item h4{
        font-size: 2vw;
    }
    .service_item p{
        font-size: 1.5vw;
        letter-spacing: 0.5px;
    }
    .contact_items .form p{
        font-size: 2vw;
    }
    form input,
    form textarea{
        font-size: 1.5vw;
    }
    form button{
        font-size: 1.75vw;
    }
    .contact_items .info{
        padding: 7.5vw 5vw 1vw 1vw;
    }
    .info .info_item{
        padding: 2vw 0;
    }
    .info .info_item h6{
        font-size: 1.5vw;
    }
    .info .info_item  p{
        font-size: 1.5vw;
        letter-spacing: 0.5px;
    }
}
@media screen and (max-width : 675px){
    *{
        transition: .25s;
    }
    #projects h2,
    #about h2,
    #services h2,
    footer h2{
        font-size: 4vw;
    }
    #about .description{
        max-width: 90%;
        grid-template-columns: repeat(1, minmax(300px, 600px));
        margin: 0 auto;
        grid-gap: 0;
    }
    .hero{
        min-height: 50vh;
    }
    .hero p{
        font-size: 2vw;
        letter-spacing: 0.5px;
    }
    .aditional h1{
        font-size: 3vw;
    }
    .aditional h5{
        letter-spacing: 0.5px;
        font-size: 2.25vw;
    }
    .aditional p{
        font-size: 2vw;
    }
    .aditional a{
        text-decoration: none;
        padding: 10px 20px;
        font-weight: 600;
    }
    .about_items .education_items{
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 400px));
        justify-content: center;
        grid-gap: 25px;
    }
    .about_items h3{
        font-size: 3vw;
    }
    .education_item p{
        font-size: 2vw;
    }
    .education_item h4,
    .education_item h6{
        font-size: 3vw;
    }
    .education_item h5{
        font-size: 2.25vw;
    }
    #projects .projects_items{
        grid-template-columns: repeat(1, minmax(200px, 400px));
        grid-gap: 10px;
    }
    .project_item h4{
        font-size: 3.5vw;
    }
    .project_item p{
        font-size: 2.5vw;
    }
    #services .services_items{
        grid-template-columns: repeat(1, minmax(200px, 400px));
        grid-gap: 10px;
    }
    .service_item h4{
        font-size: 3vw;
    }
    .service_item p{
        font-size: 2vw;
    }
    footer .contact_items{
        grid-template-columns: repeat(1, minmax(200px, 400px));
        grid-gap: 10px;
    }
    .contact_items .form p{
        font-size: 3vw;
    }
    form input,
    form textarea{
        font-size: 2.5vw;
    }
    form button{
        font-size: 2.5vw;
    }
    .contact_items .info{
        padding: 0;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .info .info_item{
        padding: 2vw 0;
    }
    .info .info_item h6{
        font-size: 2.5vw;
    }
    .info .info_item  p{
        font-size: 2.5vw;
    }
    
}
@media screen and (max-width : 400px){
    *{
        transition: .25s;
    }
    #projects h2,
    #about h2,
    #services h2,
    footer h2{
        font-size: 7vw;
    }
    .hero h1{
        font-size: 8vw;
    }
    .hero{
        min-height: 100vh;
    }
    .hero p{
        font-size: 4vw;
        max-width: 90%;
    }
    .aditional h1{
        font-size: 5vw;
    }
    .aditional h5,
    .aditional p{
        font-size: 3.5vw;
    }
    .aditional a{
        text-decoration: none;
        padding: 7px 15px;
        font-weight: 600;
    }
    .about_item h3{
        font-size: 5vw;
    }
    .education_item p{
        font-size: 4vw;
    }
    .education_item h4,
    .education_item h6{
        font-size: 5vw;
    }
    .education_item h5{
        font-size: 4vw;
    }
    #projects .projects_items{
        grid-template-columns: repeat(1, minmax(150px, 300px));
    }
    .project_item h4{
        font-size: 5vw;
    }
    .project_item p{
        font-size: 4vw;
    }
    #services .services_items{
        grid-template-columns: repeat(1, minmax(200px, 300px));
    }
    .service_item figure img{
        width: 25vw;
        height: 25vw;
    }
    .service_item h4{
        font-size: 5vw;
    }
    .service_item p{
        font-size: 4vw;
    }
    footer .contact_items{
        grid-template-columns: repeat(1, minmax(200px, 300px));
        grid-gap: 10px;
    }
    .contact_items .form{
        text-align: center;
    }
    .contact_items .form p{
        font-size: 5vw;
    }
    form input,
    form textarea{
        font-size: 4vw;
    }
    form button{
        font-size: 4vw;
    }
    .contact_items .info{
        padding: 0;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .info .info_item h6,
    .info .info_item  p{
        font-size: 4vw;
    }
}